[submodule "spike"]
	path = spike
	url = https://github.com/whyuwhyi/ventus-spike
	branch = whywhy
[submodule "gpgpu"]
	path = gpgpu
	url = https://github.com/whyuwhyi/ventus-gpgpu
	branch = whywhy
[submodule "driver"]
	path = driver
	url = https://github.com/whyuwhyi/ventus-driver
	branch = whywhy
[submodule "pocl"]
	path = pocl
	url = https://github.com/whyuwhyi/ventus-pocl
	branch = whywhy
[submodule "ocl-icd"]
	path = ocl-icd
	url = https://github.com/OCL-dev/ocl-icd.git
[submodule "rodinia"]
	path = rodinia
	url = https://github.com/THU-DSP-LAB/gpu-rodinia.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/whyuwhyi/ventus-llvm
	branch = whywhy
[submodule "systemc"]
	path = systemc
	url = https://github.com/accellera-official/systemc.git
[submodule "cyclesim"]
	path = cyclesim
	url = https://github.com/THU-DSP-LAB/ventus-gpgpu-cpp-simulator.git
[submodule "OpenCL-CTS"]
	path = OpenCL-CTS
	url = https://github.com/THU-DSP-LAB/OpenCL-CTS.git
[submodule "testcases"]
	path = testcases
	url = https://github.com/THU-DSP-LAB/Ventus-OpenCL-Testcase.git
[submodule "ventus-pytorch"]
	path = ventus-pytorch
	url = https://github.com/THU-DSP-LAB/ventus-pytorch
	branch = ventus
